body{
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
    display: inline-block;
}
ul{
    text-align: center;
    margin-top: 100px;
}
button{
    width: 300px;
    height: 250px;  
    border: 1px solid transparent;
    background-color: grey;
    border-radius: 25px;
    font-size: 150px;
    cursor: pointer;
    transition-duration: 0.2s;

}
button:hover{
    border-radius: 50px;
}
button:active{
    border-radius: 40px;
}

.scores, .choices{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}
.choices{
    max-width: 350px;
    margin: 0 auto;
}
.choices ul li{
    text-align: left;
    display: block;
}
#pChoice, #cChoice{
    width: 30px;
    height: 20px;
    font: bold;
}

button:disabled{
    opacity: 0.5;
}

button:disabled:hover{
    border-radius: 25px;
}
#result{
    text-align: center;
    margin-top: 20px; 
}
.hidden{
    display: none;
}
.playagain{
    margin-top: 30px; 
    text-align: center;
}
#playbutton{
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition-duration: 0.3s;
}
#playbutton:hover{
    transform: scale(1.1);
}